# Análisis de los datos de las jugadas
___

### Imports necesarios para el análisis y estadisticas de las partidas

In [8]:
import pandas as pd
import matplotlib as mpl
import os

### Importamos el archivo con los datos

In [12]:
archivo = 'datos_de_jugadas.csv'
carpeta = os.path.join(os.getcwd(), '..', '..', 'registros', archivo)
print(carpeta)

d:\Documentos\Python-Projects\grupo10\recursos\datos\notebooks_pandas\..\..\registros\datos_de_jugadas.csv

### Crear el DataFrame

In [13]:
partidas = pd.read_csv(carpeta)

### Ver las fimenciones actuales del DataFrame

In [14]:
# cantidad de filas y cantidad de columnas actuales
partidas.shape

(82, 10)

In [15]:
partidas.head()

,timestamp,id,evento,nombre_jugador,edad_jugador,sexo_jugador,estado,texto_ingresado,respuesta,nivel
0,1.655432e+09,db74505f-3fe3-476c-866d-872fea96a3b2,inicio_partida,NEO,80,Masculino,NaN,NaN,NaN,Facil
1,1.655432e+09,db74505f-3fe3-476c-866d-872fea96a3b2,intento,NEO,80,Masculino,ok,Christina Perri,Christina Perri,Facil
2,1.655432e+09,db74505f-3fe3-476c-866d-872fea96a3b2,intento,NEO,80,Masculino,error,Bazzi,Calvin Harris,Facil
3,1.655432e+09,db74505f-3fe3-476c-866d-872fea96a3b2,intento,NEO,80,Masculino,error,Selena Gomez,Rae Sremmurd,Facil
4,1.655432e+09,db74505f-3fe3-476c-866d-872fea96a3b2,intento,NEO,80,Masculino,error,Lauv,Edward Maya,Facil

In [20]:
partidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        82 non-null     float64
 1   id               82 non-null     object
 2   evento           82 non-null     object
 3   nombre_jugador   82 non-null     object
 4   edad_jugador     82 non-null     int64
 5   sexo_jugador     82 non-null     object
 6   estado           58 non-null     object
 7   texto_ingresado  47 non-null     object
 8   respuesta        60 non-null     object
 9   nivel            82 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 6.5+ KB

In [19]:
# para conocer las medidas de tendencia central y de dispercion de las columnas cuantitativas del DataFrame
partidas.describe()

          timestamp  edad_jugador
count  8.200000e+01     82.000000
mean   1.655494e+09     68.000000
std    4.803644e+04     12.073847
min    1.655432e+09     56.000000
25%    1.655432e+09     56.000000
50%    1.655525e+09     68.000000
75%    1.655525e+09     80.000000
max    1.655555e+09     80.000000