# Análisis de los datos de las jugadas
___

### Imports necesarios para el análisis y estadisticas de las partidas

In [5]:
import pandas as pd
import matplotlib as mpl
import os

### Importamos el archivo con los datos

In [11]:
archivo = 'datos_de_jugadas.csv'
carpeta = os.path.join(os.path.realpath(''), archivo)

### Crear el DataFrame

In [13]:
partidas = pd.read_csv(carpeta)

### Ver las fimenciones actuales del DataFrame

In [14]:
# cantidad de filas y cantidad de columnas actuales
partidas.shape

(3, 2)

In [15]:
partidas.head()

   01102524-c21e-4c27-a660-56d2a790eb10  1655312371.7918997
0  f1d07ba8-2f46-4218-b9fb-67a963a05f54                 NaN
1  805d6e28-937e-4a29-ac1d-65e070e38935                 NaN
2  f476dfbb-90da-423f-8eee-997b36ac018f        1.655313e+09

In [17]:
partidas.dtypes

01102524-c21e-4c27-a660-56d2a790eb10     object
1655312371.7918997                      float64
dtype: object

In [19]:
partidas.describe()

       1655312371.7918997
count        1.000000e+00
mean         1.655313e+09
std                   NaN
min          1.655313e+09
25%          1.655313e+09
50%          1.655313e+09
75%          1.655313e+09
max          1.655313e+09